*{
    padding: 3px;
}



.arpan{
    border: 5px solid rgb(0, 3, 5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
    
}

.arpan16{
    background: rgb(91, 168, 210);
    border-radius: 30px;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}


.arpan3{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}


.arpan4{
    border: 5px solid rgb(0,3,5);
     margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

.arpan5{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 50px;
    display: block;
}

ol{
    list-style-position: inside;
    text-align: center;
}

.arpan6{
    border-radius: 20px;
    text-align: center;
    margin: 0px auto;
}

.arpan7{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

.arpan8{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

.arpan9{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

ul{
    list-style-position: inside;
    text-align: center;
}

.arpan10{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

.arpan11{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

.arpan12{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

.arpan13{
    border: 5px solid rgb(0,3,5);
    margin: 50px 300px;
    text-align: center;
    border-radius: 30px;
    display: block;
    border-image-width: 20px;
}

.arpan15{
    background: rgb(155, 197, 219);
    border-radius: 30px;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}


/* body::before{
   background-color: #e5e5f7;
opacity: 0.6;
background-image: radial-gradient(#000000 0.45px, #e5e5f7 0.45px);
background-size: 9px 9px;
} */




[class^="arpan"] {
    background-color: #ffffff;
    opacity: 1;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
    background-size: 400% 400%;
    animation: bgMove 16s ease infinite;
    z-index: -1;
    background-color: #e5e5f7;
    opacity: 0.6;
    //background-image:  linear-gradient(#000000 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(to right, #000000 1.4000000000000001px, #e5e5f7 1.4000000000000001px);
    background-size: 28px 28px;
}
